.title {
	max-width: 500px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 56px;
	line-height: 68px;
	margin: 0 auto;
	text-align: center;
	color: #806749;
	border-bottom: 0.5px solid #a78966;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.hostelsInfoBlock {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	border-bottom: 0.5px solid #a78966;
	.hostelTitle {
		font-weight: 800;
		color: #806749;
		font-style: normal;
		font-size: 32px;
		line-height: 39px;
	}
}

@media (max-width: 990px) {
	.title {
		font-size: 46px;
	}
	.hostelsInfoBlock {
		.hostelTitle {
			font-size: 25px;
		}
	}
}

@media (max-width: 560px) {
	.title {
		font-size: 36px;
	}
	.hostelsInfoBlock {
		.hostelTitle {
			font-size: 18px;
		}
	}
}
