.loginBox {
  width: 80%;
  height: 430px;
  max-width: 500px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  input {
    margin: auto;

    background: #f7f2e7;
    border: 1px solid #bfaf9c;
    box-sizing: border-box;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    color: #917a5d;
    font-family: Montserrat, sans-serif;
  }

  p {
      color: red;
      text-align: center;
      font-family: Montserrat;
      font-size: 0.9em;
  }

  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    text-align: center;

    color: #535048;
    margin-top: 30px;
  }

  button {
    width: 190px;
    height: 50px;

    background: rgba(128, 103, 73, 0.3);
    border-radius: 10px;
    display: block;
    margin: auto;
    border: 0;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #a78966;

    &:hover {
      background: rgba(128, 103, 73, 0.4);
    }

    &:active {
      background: rgba(128, 103, 73, 0.35);
    }
  }
}
