.cardBlock {
	padding-left: 30px;
	padding-top: 20px;
	padding-right: 20px;
	width: 500px;
	height: 250px;
	background-color: #fff;
	border-radius: 20px;
	margin: 10px 50px 10px 0px;
	box-shadow: 0px 4px 12px rgba(152, 138, 122, 0.2);
	font-family: "Montserrat", sans-serif;
	color: rgba(0, 0, 0, 0.3);
	font-size: 18px;
	position: relative;
	.cardSupTitle {
		margin-top: 50px;
	}
	div {
		font-size: 18px;
	}
	.cardProgressBar {
		width: 100%;
		background: #ffffff;
		height: 5px;
		border: 0.3px solid #a78966;
		.Progress {
			background: #988a7a;
			height: 100%;
			width: 75%;
		}
	}
	.cardTitle {
		font-family: "Montserrat", sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
	}
	.icon {
		cursor: pointer;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		left: 88%;
		bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		margin-top: 40px;
		border: 3px solid rgba(152, 138, 122, 0.4);
		img {
			width: 25px;
			height: 25px;
		}
	}
}
