.cardList {
	list-style-type: none;
	display: flex;
	li {
		margin-right: 70px;
		font-family: "Montserrat", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		line-height: 32px;
		cursor: pointer;
		&.activeCard {
			font-weight: bold;
		}
	}
	li:last-child {
		margin-right: 0px;
	}
}

@media (max-width: 770px) {
	.cardList {
		justify-content: center;
		li {
			font-size: 20px;
		}
	}
}

@media (max-width: 560px) {
	.cardList {
		justify-content: center;
		li {
			margin-right: 25px;
			font-size: 18px;
		}
		li:last-child {
			margin-right: 0px;
		}
	}
}
@media (max-width: 400px) {
	.cardList {
		justify-content: center;
		li {
			margin-right: 15px;
			font-size: 16px;
		}
		li:last-child {
			margin-right: 0px;
		}
	}
}

.cardItemBlock {
	margin-top: 41px;
	.cardItem {
		width: 100%;
		box-shadow: 0px 4px 12px rgba(152, 138, 122, 0.2);
		display: flex;
		cursor: pointer;
		margin-right: 10px;
		height: 250px;
		border-radius: 20px;
		background: #ffffff;
		position: relative;
		margin-top: 50px;
		.cardItemSvg {
			width: 250px;
			height: 100%;
			object-fit: cover;
			border-radius: 20px;
			
		}
		.cardItemContent {
			margin-top: 10px;
			display: flex;
			flex-direction: column;
			margin-left: 50px;
			width: 100%;
			height: 100%;
			justify-content: space-between;
			.cardItemTitles {
				.cardItemTitle {
					font-family: "Montserrat", sans-serif;
					font-style: normal;
					font-weight: 600;
					font-size: 30px;
					line-height: 44px;
				}
				.cardItemSuptitle {
					font-family: "Montserrat", sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					line-height: 30px;
					color: rgba(0, 0, 0, 0.7);
				}
			}
			.cardItemInfo {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-right: 34px;
				margin-bottom: 20px;
				.cardItemLocation {
					font-family: "Montserrat", sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					line-height: 30px;
					color: rgba(0, 0, 0, 0.7);
				}
				.cardItemPrice {
					font-family: "Montserrat", sans-serif;
					font-style: normal;
					font-weight: 600;
					font-size: 25px;
					line-height: 44px;
				}
			}
		}
		.cardItemSvgBlock {
			background-color: #f3d5b1;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}

@media (max-width: 1000px) {
	.cardItemBlock {
		.cardItem {
			.cardItemSvg {
				width: 250px;
			}
			.cardItemContent {
				.cardItemTitles {
					.cardItemTitle {
						font-size: 25px;
					}
					.cardItemSuptitle {
						font-size: 20px;
					}
				}
				.cardItemInfo {
					.cardItemLocation {
						font-size: 20px;
					}
					.cardItemPrice {
						font-size: 20px;
					}
				}
			}
		}
	}
}

@media (max-width: 770px) {
	.cardItemBlock {
		.cardItem {
			height: 240px;
			.cardItemSvg {
				width: 200px;
			}
			.cardItemContent {
				.cardItemTitles {
					.cardItemTitle {
						font-size: 22px;
					}
					.cardItemSuptitle {
						font-size: 18px;
					}
				}
				.cardItemInfo {
					.cardItemLocation {
						font-size: 18px;
					}
					.cardItemPrice {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media (max-width: 660px) {
	.cardItemBlock {
		.cardItem {
			height: 260px;
			.cardItemSvg {
				display: none;
			}
			.cardItemContent {
				margin-left: 30px;
				.cardItemTitles {
					.cardItemTitle {
						font-size: 25px;
					}
					.cardItemSuptitle {
						font-size: 21px;
					}
				}
				.cardItemInfo {
					.cardItemLocation {
						font-size: 18px;
					}
					.cardItemPrice {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media (max-width: 440px) {
	.cardItemBlock {
		margin-top: 15px;
		.cardItem {
			height: 200px;
			.cardItemContent {
				margin-left: 30px;
				.cardItemTitles {
					.cardItemTitle {
						font-size: 16px;
						line-height: 25px;
					}
					.cardItemSuptitle {
						padding-right: 15px;
						font-size: 12px;
						line-height: 20px;
					}
				}
				.cardItemInfo {
					.cardItemLocation {
						line-height: 25px;
						font-size: 12px;
					}
					.cardItemPrice {
						line-height: 25px;
						font-size: 12px;
					}
				}
			}
		}
	}
}
