.cardList {
	list-style-type: none;
	display: flex;
	@media (max-width: 830px) {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	li {
		margin-right: 70px;
		font-family: "Montserrat", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		line-height: 32px;
		cursor: pointer;
		&.activeCard {
			font-weight: bold;
		}
	}
	li:last-child {
		margin-right: none;
	}
}

.cardItemBlock {
	margin-top: 41px;
	.cardItem {
		width: 100%;
		height: 100%;
		display: flex;
		cursor: pointer;
		margin-right: 10px;
		height: 250px;
		border-radius: 20px;
		background: #ffffff;
		position: relative;
		margin-top: 50px;
		.cardItemSvg {
			background-color: #f3d5b1;
			border-radius: 20px;
			padding: 0 40px;
		}
		.cardItemContent {
			display: flex;
			flex-direction: column;
			margin-left: 50px;
			height: 100%;
			.cardItemTitle {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 30px;
				line-height: 44px;
			}
			@media (max-width: 950px) {
				.cardItemTitle {
					font-size: 25px;
				}
			}
			.cardItemSuptitle {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 25px;
				line-height: 30px;
				margin-bottom: 80px;
				color: rgba(0, 0, 0, 0.7);
			}
			@media (max-width: 950px) {
				.cardItemSuptitle {
					font-size: 20px;
					margin-bottom: 50px;
				}
			}
			.cardItemInfo {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-right: 34px;
				@media (max-width: 770px) {
					.cardItemInfo {
						flex-direction: column;
					}
				}
				.cardItemLocation {
					font-family: "Montserrat", sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					line-height: 30px;
					color: rgba(0, 0, 0, 0.7);
				}
				@media (max-width: 950px) {
					.cardItemLocation {
						font-size: 20px;
					}
				}
				.cardItemPrice {
					font-family: "Montserrat", sans-serif;
					font-style: normal;
					font-weight: 600;
					font-size: 26px;
					line-height: 44px;
				}
				@media (max-width: 950px) {
					.cardItemPrice {
						font-size: 20px;
					}
				}
			}
		}
		.cardItemSvgBlock {
			background-color: #f3d5b1;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}
