.hostelPage {
	font-family: "Montserrat", sans-serif;
	.hostelMainInfo {
		display: flex;
		justify-content: space-between;
		.bookingInfo {
			background: rgba(152, 138, 122, 0.4);
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 10px;
			.reservation {
				margin-bottom: 35px;
			}
			.booking {
				padding-top: 2px;
				text-align: center;
				border-radius: 10px;
				width: 230px;
				height: 43px;
				color: #ffffff;
				background: #003580;
				span {
					color: #2faae1;
				}
			}
		}
		.hostelInfo {
			max-width: 730px;
			margin-left: 60px;
			display: flex;
			flex-direction: column;
			.title {
				font-style: normal;
				font-weight: 600;
				font-size: 54px;
				line-height: 66px;
				color: #535048;
			}
			.suptitle {
				font-style: normal;
				font-weight: normal;
				font-size: 30px;
				line-height: 41px;
				color: #bfaf9c;
			}
			.freePlaces {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
				color: rgba(0, 0, 0, 0.3);
				margin-top: 3px;
			}
			.progressBar {
				box-shadow: 0px 1px 4px 1px rgba(152, 138, 122, 0.5);
				margin: 3px;
				width: 100%;
				background: #ffffff;
				height: 5px;
				border: 0.3px solid #a78966;
				.progress {
					background: #988a7a;
					height: 100%;
					width: 75%;
				}
			}
			.procent {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
				color: rgba(0, 0, 0, 0.3);
			}
			@media (max-width: 1100px) {
				.title {
					font-size: 40px;
				}
				.suptitle {
					font-size: 20px;
				}
			}
			@media (max-width: 890px) {
				.title {
					font-size: 30px;
				}
				.suptitle {
					font-size: 16px;
				}
				.freePlaces {
					font-size: 15px;
				}
				.procent {
					font-size: 15px;
				}
			}
		}
	}
	.hostelSlider {
		overflow: visible;
		margin-top: 35px;
		background-color: #fff;
		border-radius: 25px;
		padding: 10px 15px 0 15px;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
		.sliderItem {
		}
		@media (max-width: 890px) {
			.sliderItem img {
				height: 150px;
			}
		}
	}
	.location {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		.metro {
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
			border-radius: 20px;
			padding: 10px 100px 30px 100px;
			background-color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.hostelLocation {
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 29px;
				text-align: center;
				color: #000000;
				margin-top: 10px;
			}
			.stroka {
				width: 100%;
				height: 5px;
				background: #1827a7;
				margin-bottom: 10px;
				border-radius: 100px;
				box-shadow: 0px 0px 6px 1px rgba(24, 39, 167, 0.7);
			}
			.metroLocation {
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 22px;
				text-align: center;
				color: rgba(0, 0, 0, 0.7);
			}
		}
		.phone {
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
			background-color: #fff;
			padding: 0 100px;
			border-radius: 20px;
			display: flex;
			height: 160px;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			div {
				font-family: Montserrat;
				font-style: normal;
				font-weight: 600;
				font-size: 42px;
				line-height: 51px;
				color: #988a7a;
			}
			.phoneInfo {
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					margin-right: 20px;
				}
				div {
					font-weight: 300;
					font-size: 35px;
				}
			}
		}
		@media (max-width: 1100px) {
			.metro {
				padding: 10px 50px 30px;
			}
			.phone {
				padding: 0 50px;
			}
		}
		@media (max-width: 890px) {
			.metro {
				padding: 10px 50px 30px;
				.metroIcon {
					margin-top: 20px;
					height: 50px;
				}
				.hostelLocation {
					font-size: 20px;
				}
			}
			.phone {
				padding: 0 50px;
				div {
					font-size: 35px;
				}
				.phoneInfo {
					img {
						height: 30px;
					}
					div {
						font-size: 25px;
					}
				}
			}
		}
	}
}
