.container {
	overflow: hidden;
	padding-top: 34px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 50px;
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 0.5px solid #bfaf9c;
		margin: 30px 0 70px 0;
		a {
			text-decoration: none;
			color: black;
		}
		.navLogo {
			font-family: "Playfair Display", serif;
			font-style: normal;
			font-weight: bold;
			font-size: 54px;
			line-height: 73px;
			text-transform: uppercase;
			cursor: pointer;
		}
		.navMenu {
			font-family: "Playfair Display", serif;
			font-style: normal;
			font-weight: normal;
			font-size: 26px;
			line-height: 35px;
			display: flex;
			a {
				text-decoration: none;
				color: black;
				padding: 1.5px 10px 5px 10px;
				border-radius: 30px;
				transition: all 0.2s linear;
				text-align: center;
			}
			a:last-child {
				margin-left: 58px;
			}
			a:hover {
				background: rgba(191, 175, 156, 0.35);
				color: #a78966;
			}
		}
	}
}
