.container {
	overflow: hidden;
	padding-top: 34px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 50px;
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 0.5px solid #bfaf9c;
		margin: 30px 0 70px 0;
		position: relative;

		.navBurger {
			display: none;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background: #f7f2e7;
		}
		@media (max-width: 770px) {
			.navBurger {
				display: block;
			}
		}
		a {
			text-decoration: none;
			color: black;
		}
		.navLogo {
			span {
				font-family: "Playfair Display", serif;
				font-style: normal;
				font-weight: bold;
				font-size: 54px;
				line-height: 73px;
				text-transform: uppercase;
				cursor: pointer;
				position: relative;
				z-index: 3;
			}
		}
		.navMenu {
			position: relative;
			z-index: 3;
			font-family: "Playfair Display", serif;
			font-style: normal;
			font-weight: normal;
			font-size: 26px;
			line-height: 35px;
			display: flex;
			a {
				text-decoration: none;
				color: black;
				padding: 1.5px 10px 5px 10px;
				border-radius: 30px;
				transition: all 0.2s linear;
				text-align: center;
			}
			a:last-child {
				margin-left: 58px;
			}
			a:hover {
				background: rgba(191, 175, 156, 0.35);
				color: #a78966;
			}
		}
		@media (max-width: 770px) {
			.navMenu {
				flex-direction: column;
				align-items: center;
				padding-top: 200px;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #988a7a;
				z-index: 2;
				transition: all 0.3s ease;
				a {
					display: block;
					margin: 0px 0px 20px 0px;
				}
				a:last-child {
					margin-left: 0px;
				}
			}
			.active {
				// display: none;
				top: -100%;
			}
		}
	}
}

@media (max-width: 770px) {
	.container {
		padding: 0 30px;
		.nav {
			margin-top: 25px;
			margin-bottom: 40px;
			.navLogo {
				span {
					font-size: 45px;
				}
			}
		}
	}
}

@media (max-width: 560px) {
	.container {
		.nav {
			margin-top: 15px;
			margin-bottom: 30px;
			.navLogo {
				span {
					font-size: 40px;
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.container {
		padding: 0 15px;
		.nav {
			margin-bottom: 10px;
			.navLogo {
				span {
					font-size: 35px;
				}
			}
		}
	}
}
