.searchBarBlock {
	position: relative;
	margin: 50px 0 40px;
	font-family: "Montserrat", sans-serif;
	.searchBar {
		font-size: 25px;
		border-radius: 20px;
		border: none;
		outline: none;
		padding-left: 20px;
		height: 55px;
		width: 100%;
	}
	.searchIconBlock {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 65px;
		background: #988a7a;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		.searchIcon {
			top: 0;
			right: 0;
			width: 35px;
			height: 40px;
		}
		&:hover {
			background: rgb(152, 138, 122, 0.6);
		}
		&:active {
			background: rgb(152, 138, 122, 0.8);
		}
	}
}

@media (max-width: 770px) {
	.searchBarBlock {
		.searchBar {
			font-size: 20px;
			height: 50px;
		}
		.searchIconBlock {
			width: 55px;
			.searchIcon {
				top: 0;
				right: 0;
				width: 40px;
				height: 30px;
			}
		}
	}
}
@media (max-width: 560px) {
	.searchBarBlock {
		.searchBar {
			font-size: 17px;
			height: 45px;
		}
		.searchIconBlock {
			.searchIcon {
				top: 0;
				right: 0;
				width: 35px;
				height: 30px;
			}
		}
	}
}
@media (max-width: 400px) {
	.searchBarBlock {
		.searchBar {
			font-size: 14px;
			height: 45px;
		}
		.searchIconBlock {
			width: 50px;
			.searchIcon {
				top: 0;
				right: 0;
				width: 35px;
				height: 28px;
			}
		}
	}
}
